@import 'tailwindcss';

@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    @reference text-3xl;
}

h2 {
    @reference text-xl;
}

h3 {
    @reference text-lg;
}

h4 {
    @reference text-base;
}

h5 {
    @reference text-sm;
    font-weight: 600;
}

h6 {
    @reference text-xs;
}
